*{
    font-family: 'Prompt', sans-serif;
}
body{
    background-color: rgb(253, 253, 247);
}
a.menu{
    font-size: 1.3em !important;
    width: 15em;
    color: rgb(112, 114, 114) !important;
    background-color: rgb(238, 236, 236);
    margin-top: 10px;
    border-radius: 7px;
    margin-left: 5px;
    transition: 0.3s;
}
a.menu:hover{
    background-color: rgb(52, 190, 224);
    color: white !important;
}
.text_title{
    font-weight: bold;
    width: 10em;
    color: white;
    padding: 5px;
    border-radius: 7px;
    box-shadow: rgb(245, 173, 239) 5px 5px 1px;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: rgb(196, 93, 182);

}
a.btn_logout{
  font-size: 1.3em !important;
  position: absolute;  
  bottom: 30px;   
  width: 15em;
  color: white !important;
  transition: 0.3s;
  background-color: rgb(168, 87, 93);
  margin-top: 5px;
  border-radius: 7px;
  margin-left: 5px;
}
a.btn_logout:hover{
  background-color: rgb(105, 55, 55);
}
#row2{
    margin-bottom: 7em;
}
.card-text{
  font-weight: bold;
  font-size: 2em;
  color: #6d5323;
}
.card_index{
    border-radius: 20px !important;
    background-color: rgb(250, 239, 210);
    border: 0px;
    box-shadow: rgb(247, 183, 183) 10px 10px 1px;
}
.card-img-top{
    border-radius: 20px !important;
}



.navbar{
    padding: 0%;
    width: 100%;
    box-shadow: rgb(196, 192, 192) 2px 2px 10px ;
    
}
#navbar{
    position: fixed;
    width: 100%;
    z-index: 10000;
    margin-left: 0% auto;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: rgb(173, 156, 106);
    margin-top: 5em;
    
}
.icon_cart{
    position: absolute;  
    right: 70px; 
}
.icon_user{
    position: absolute;  
   right: 30px;   
}
#cart_text{
    color: rgb(13, 136, 145);
}
#user_text{
    color: rgb(247, 107, 149);
}
#cart, #user {
    display: none;
}
/* จบ navbar  */
.carousel {
    margin-top:0em;
}
.card{
    width: 100%;
    margin-bottom: 2em;
}
#bg_img{
    
    width: 100%;
    height: 80vh;
    filter: brightness(0.9);
    display: flex;
    justify-items: center;
    align-items:center;
    background-attachment: fixed; 
    font-size: 60px;
    color: rgb(87, 84, 84);
    text-align: center;
    
}
.row3, .row4{
    margin-top: 7em;
}
.img_store{
    width: 90%;
    border-radius: 7px;
    box-shadow: rgb(245, 214, 157) 10px 10px 1px ;
}

@media (max-width: 992px){
    #cart, #user {
        display: block;
    }
    .icon_cart, .icon_user{
        display: none;
    }
    .card{
        width: 70%;
        margin: 0% auto;
        margin-bottom: 2em;
    }
}